*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    
}

body{
    background-image: url(../images/bg_001.jpg);
    
}

header div{
    display: inline-block;
}

/* Logo */
.logo{
    width: 25vw;
    height: 10vh;
    margin: 4rem 109 auto;
    position: absolute;
    top: 6vh;
    left: 14vw;
}

/* Navigation */

ul{
    position: absolute;
    top: 10vh;
    right: 14vw;
}

ul li{
    display: inline;
    list-style-type: none;
    text-decoration: none;
    color: white;
}


/* Main content and buttons */
.main-content {
    width: 50vw;
    height: 25vh;
    margin: auto 7rem auto 7rem ;
    position: absolute;
    bottom: 45vh 
}
h1{
    font-size: 2.4rem;
    color: white;
}

div div {
    font-size: 1.1rem;
    color: white;
}


.b-one{
    background-color: rgb(64, 160, 64);
    color: white;
    font-size: 1.1rem;
    padding: 0.8rem 1.4rem;
    width: 42%;
    border-radius: 5%;
    border:white;
    border-color: none;
    margin-top: 1.8rem;
    
}
.b-two{
    background-color: rgb(41, 156, 209);
    color: white;
    font-size: 1.1rem;
    padding: 0.8rem;
    width: 42%;
    border-radius: 5%;
    border:white;
    border-color: none;
    margin-left: 0.7rem;
}


/* side image */

[alt^="white"]{
    width: 20vw;
    position: absolute;
    bottom: 18vh;
    right:6.6vw;
    z-index: -1;
    
}

[alt^="black"]{
    width: 20vw;
    position: absolute;
    bottom: 16vh;
    right:15vw;
    z-index: 1;
    
}





