@font-face {
  font-family: "nanumGothic";
  src: url("/fonts/NanumGothic-Regular.ttf");
  src: url("/fonts/NanumGothic-Bold.ttf");
  src: url("/fonts/NanumGothic-ExtraBold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  background-image: url(../images/bg_001.jpg);
  background-repeat: no-repeat;
  font-family: "nanumGothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  border: 2px solid yellow;
  width: 75%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/* navigation part of the page */

/* general layout */
header {
  width: 85%;
  margin: 1rem auto;
  border: 3px solid green;
  display: flex;
  justify-content: space-between;
}

/* Logo */
.logo {
  width: 20vw;
  min-width: 2r 6.25rem;
  max-width: 14.26rem;
  transition: 600ms;
}

/* menu */

.side-menu {
  margin: 0;
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* menu version for mobile */
.hamburguer {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
}

.hamburguer div {
  width: 2.5rem;
  border: 2px black solid;
}

/* general layout for the menu elements */
ul {
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  list-style-type: none;
  margin: 0.3rem;
  font-size: 0.7rem;
}

ul li a {
  text-decoration: none;
  color: white;
  transition: 400ms;
  text-align: center;
}

/* hover effects on the menu */

a:hover,
.logo:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

/* content part of the page */
/* general */
main {
  width: 85%;
  height: 70%;
  border: 2px solid pink;
  display: flex;
  margin: 1rem auto;
  justify-content: space-between;
}

/* Main content and buttons */

.main-content {
  width: 50%;
  height: 70%;
  margin: auto;
  border: 2px red dashed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* heading */
h1 {
  border: 2px dashed yellow;
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

/* main content text */

.text {
  border: 2px dashed yellow;
  font-size: 0.8rem;
  color: white;
  margin: 0.6rem;
  padding-left: 0.6rem;
}

/* layout and design for the buttons */
main section:nth-child(3) {
  height: 33%;
  border: 2px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.b-one {
  background-color: rgb(64, 160, 64);
  color: white;
  font-size: 0.8rem;
  padding: 0.9rem 0.5rem;
  width: 45%;
  border-radius: 10px;
  border: white;
  border-color: none;
  transition: 400ms;
}
.b-two {
  background-color: rgb(41, 156, 209);
  color: white;
  font-size: 0.8rem;
  padding: 0.9rem 0.5rem;
  width: 45%;
  border-radius: 10px;
  border: white;
  border-color: none;
  transition: 400ms;
}

/* hover effects on the buttons */
.b-one:hover,
.b-two:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

/* side images */

.iphone {
  border: 2px solid red;
  width: 40%;
  height: 100%;
  margin: auto;
  position: relative;
}

[alt^="white"] {
  width: 65%;
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: -1;
  transition: 250ms;
}

[alt^="black"] {
  width: 65%;
  position: absolute;
  top: 30px;
  left: 10px;
  z-index: 1;
  transition: 250ms;
}

/* hover effects on the side images */
main div img:hover {
  opacity: 0.9;
  transform: scale(1.1);
  z-index: 1;
}

/* media query with the breakout points */

@media only screen and (max-width: 600px) {
  .hamburguer {
    display: flex;
    position: absolute;
    top: 2%;
    right: 4%;
  }
}
