*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    background-image: url(../images/bg_001.jpg);
    background-repeat: no-repeat;
    
}

header div{
    display: inline-block;
}

/* Logo */
.logo{
    width: 25vw;
    height: 10vh;
    min-width: 6.25rem;
    max-width: 14.26rem;
    margin: 4rem 109 auto;
    position: absolute;
    top: 6vh;
    left: 14vw;
    transition: 600ms;
}

/* Navigation */

ul{
    width: 45vw;
    position: absolute;
    top: 10vh;
    right: 8vw;
}

ul li{
    list-style-type: none;
    display: inline;
    margin: 0.3rem;
    font-size: 1.5vw;
}

ul li a{
    text-decoration: none;
    color: white;
    transition: 400ms;
}

a:hover, .logo:hover{
    opacity: 0.6;
    transform: scale(1.05);
}

/* Main content and buttons */
 .main-content {
    float:left;
    width: 50vw;
    height:50vh;
    position: absolute;
    top: 22vh;
    margin: auto 2rem;

} 

h1{ 
    width: 80%;
    font-size: 5vw;
    color: white;
    margin: 1.4rem;
}

.text{
    font-size: 2vw;
    color: white;
    margin: 0.6rem;
    padding-left: 0.6rem;
}

.b-one{
    background-color: rgb(64, 160, 64);
    color: white;
    font-size: 0.8rem;
    padding: 0.9rem 0.5rem;
    width: 42%;
    border-radius: 5%;
    border:white;
    border-color: none;
    margin-top: 1.8rem;
    border-left: 0.6rem;
    transition: 400ms;
    
}
.b-two{
    background-color: rgb(41, 156, 209);
    color: white;
    font-size: 0.8rem;
    padding: 0.9rem 0.5rem;
    width: 42%;
    border-radius: 5%;
    border:white;
    border-color: none;
    margin-left: 0.7rem;
    transition: 400ms;
}

.b-one:hover, .b-two:hover{
    opacity: 0.6;
    transform: scale(1.05);
}


/* side image */

[alt^="white"]{
    width: 20vw;
    position: absolute;
    top: 26vh;
    right:6.6vw;
    z-index: -1;
    
}

[alt^="black"]{
    width: 20vw;
    position: absolute;
    top: 27vh;
    right:16vw;
    z-index: 1;
    transition: 250ms;
    
}

main div img:hover{
    opacity: 0.9;
    transform: scale(1.10);
    z-index: 1;

}






